

<h1>Post your new Look</h1>


<form action="/create-look" method="post">

  <label for="lookName">Look Name:</label>
  <input id="lookName" type="text" name="lookNameInt" />
  <br />

  <label for="topComplement">Top complement:</label>
  <input id="topComplement" type="text" name="topComplementInt" />
  <br />

  <label for="shirtComplement">Shirt complement:</label>
  <input id="shirtComplement" type="text" name="shirtComplementInt" />
  <br />

  <label for="hoodieComplement">Hoodie complement:</label>
  <input id="hoodieComplement" type="text" name="hoodieComplementInt" />
  <br />

  <label for="pantsComplement">Pants complement:</label>
  <input id="pantsComplement" type="text" name="pantsComplementInt" />
  <br />

  <label for="socksComplement">Socks complement:</label>
  <input id="socksComplement" type="text" name="socksComplementInt" />
  <br />

  <label for="shoesComplement">Shoes complement:</label>
  <input id="shoesComplement" type="text" name="shoesComplementInt" />
  <br />

  <button>Save Your Quote</button>
</form>