

<div class="creation-center-container">
  
  <h1>New pants</h1>

  <img id="pantsComplementPlaceholderImage" class="placeholderImage" src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="Image to upload"/>
  <p id="failedImageMsg">Please upload a .jpg or .png file</p>

  <form action="/new-PantsComplement/upload" method="post" enctype="multipart/form-data">

    <label id="pantsComplementImage__label" class="form__field" for="pantsComplementImage">Click to upload your image</label>
    <input type="file" class="custom-file-input form__field" id="pantsComplementImage" name="upload" onInput="change_image('pantsComplementImage', 'pantsComplementPlaceholderImage', '#pantsComplementImage__label')" required>

    <input id="pantsComplementName" name="pantsComplementInt" type="text" class="form__field" placeholder="Your complement name" required/>
		<button class="btn btn--primary">SEND</button>

  </form>
</div>