

<section class="my-top-complements-section">
  <h1>My Top Complements shown here</h1>

  {{#each element}}
  <div>
    <h2>{{top_complement_name}}</h2>
    <img src="{{image}}" alt="Top Complement Image" />
    <form action="one-top-complement/{{_id}}" method="get">
      <button>See this look</button>
    </form>
    <form action="one-top-complement/{{_id}}" method="post">
      <button>Delete Look</button>
    </form>
  </div>
  {{/each}}  
</section>
