

<div class="not-found-section">
  <h1>Page not found</h1>
  <p>Check the URL you are trying to access, because it is wrong. Even this cat knows that.</p>
  <img alt="gif gato" src="/images/cat.gif"/> 
</div>
