

<section class="one-complement-container">
  {{#each element}}
  <div>
    <h1>{{pants_complement_name}}</h1>
    <img src="{{image}}" alt="Pants Complement Image" />
    <form action="{{_id}}" method="post">
      <button>Delete Complement</button>
    </form>
    <form action="/pants-complements" method="get">
      <button>Go Back</button>
    </form>
  </div>
  {{/each}}  
</section>
